alembic==1.6.5
argon2-cffi==20.1.0
asgiref==3.4.1
cffi==1.14.6
click==8.0.1
colorama==0.4.4
dnspython==2.1.0
email-validator==1.1.3
fastapi==0.68.0
h11==0.12.0
idna==3.2
Mako==1.1.4
MarkupSafe==2.0.1
passlib==1.7.4
psycopg2==2.9.1
pycparser==2.20
pydantic==1.8.2
python-dateutil==2.8.2
python-editor==1.0.4
six==1.16.0
SQLAlchemy==1.3.24
starlette==0.14.2
typing-extensions==3.10.0.0
uvicorn==0.14.0
